
<ul id="nav-translate">
  <div>
  <% I18n.available_locales.each do |locale| %>
    <% if I18n.locale == locale %>
      <li>
        <%= link_to t(".lang.#{locale}"), url_for(locale: locale), class:"active-lang" %>
      </li>
    <% else %>
    <%= link_to t(".lang.#{locale}"), url_for(locale: locale) %>
    <% end %>
  <% end %>
  </div>
</ul>
<nav id="nav-main">
<%= image_tag "logo-phytodia.png" %>
<ul>
<%= link_to laboratoire_plantes_path do %>
  <li>Laboratoire des plantes</li>
<% end %>
<%= link_to laboratoire_analyse_recherche_developpement_path do %>
  <li>Analyse et R&D</li>
<% end %>
<%= link_to laboratoire_creation_cosmetique_path do %>
  <li>Cosmétologie</li>
<% end %>
<%= link_to nos_marques_actifs_path do %>
  <li>Nos actis & marques</li>
<% end %>
<%= link_to a_propos_path do %>
  <li>A propos</li>
<% end %>
<%= link_to blog_posts_path do %>
  <li>Blog</li>
<% end %>
<%= link_to contact_path do %>
  <li>Contact</li>
<% end %>
</ul>
</nav>
<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},
  class: "dropdown-item" %>
<%= link_to "Se connecter",  new_user_session_path %>
