
<ul id="nav-translate">
  <div>
  <% I18n.available_locales.each do |locale| %>
    <% if I18n.locale == locale %>
      <li>
        <%= link_to t(".lang.#{locale}"), url_for(locale: locale), class:"active-lang" %>
      </li>
    <% else %>
    <%= link_to t(".lang.#{locale}"), url_for(locale: locale) %>
    <% end %>
  <% end %>
  </div>
</ul>
<nav id="nav-main">
<div>
<%= image_tag "logo-phytodia.png" %>
<ul>
  <li class="nav-item-main"><a href="/">Laboratoire des plantes</a>
    <ul class="submenu">
        <li>Analyse des molécules végétales</li>
        <li>Mise en conformité règlementaire</li>
        <li>Analyse de tout type de plante</li>

        <li>Extraction végétale</li>
        <li>Développement d'actifs & extraits</li>
        <li>Analyse & Conseil</li>

        <li>Façonnage d'extraits végétaux</li>
        <li>Full caractérisation</li>
        <li>Nos autres prestations</li>
    </ul>
  </li>

  <li><a href="/">Analyse et R&D</a></li>
  <li><a href="/">Cosmétologie</a></li>
  <li><a href="">Nos actis & marques</a></li>
  <li><a href="">A propos</a></li>
  <li><a href="">Blog</a></li>
  <li><a href="">Contact</a></li>
</ul>
</div>
</nav>
<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},
  class: "dropdown-item" %>
<%= link_to "Se connecter",  new_user_session_path %>
