<h1>Contact</h1>

<%= simple_form_for :user, :url => '/users',data: { controller: 'form' } do |f| %>
  <%= f.input :lastname %>
  <%= f.input :firstname %>
  <%= f.input :email %>
  <%= f.input :tel %>
  <%= f.input :description, as: :text %>
  <%= f.input :accepts, as: :radio_buttons %>
  <%= f.button :submit, class: "btn" %>
<% end %>
