<h1>Contact</h1>

<%= simple_form_for @message,data: { controller: 'form' } do |f| %>
  <%= f.input :lastname %>
  <%= f.input :firstname %>
  <%= f.input :email %>
  <%= f.input :tel %>
  <%= f.input :content, as: :text %>

  <%= f.button :submit, class: "btn" %>
<% end %>
