<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>PhytodiaRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <ul>
      <% I18n.available_locales.each do |locale| %>
        <% if I18n.locale != locale %>
          <li>
            <%= link_to t(".lang.#{locale}"), url_for(locale: locale) %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
